<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> chat box</h2>
    <!-- <%= name %>
    <%= roomId %> -->
    <br>

    <input id="start-chat" type="hidden" data="<%= roomId %>"></input>
    <input type="text" id="username" placeholder="UserName">
    <input type="text" name="" id="newmsg" placeholder="message...">
    <button id="btn">Send</button>

    <ul id="msglist">
        <% for(var i=0; i < chats.length; i++) { %>           
              <li><%= chats[i].user %> : <%= chats[i].content %></li>            
         <% } %>
    </ul>
    
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();

        let btn = document.getElementById("btn");
        let startChat = document.getElementById("start-chat");
        let username = document.getElementById("username");
        let msg = document.getElementById("newmsg");
        let msgList = document.getElementById("msglist");

        

        socket.emit("join_room", {
                roomId: startChat.getAttribute("data")
        })

        btn.onclick = () => {
            socket.emit("msg_send", {
                msg: msg.value,
                user: username.value,
                roomId: startChat.getAttribute("data")
            });

            msg.value = "";
            username.value = ""
        };
        
        console.log("username is ",  username.value);
        socket.on("msg_received", (data) => {
            let msgItem = document.createElement("li");
            msgItem.innerText = `${data.username} : ${data.msg}`;
            msgList.appendChild(msgItem);
        });

    </script>
</body>
</html>