<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> chat box</h2>
    <!-- <%= name %>
    <%= roomId %> -->
    <br>

    <input id="start-chat" type="hidden" data="<%= roomId %>"></input>
    <div id="typing">typing...</div>
    <input type="text" id="name" placeholder="UserName">
    <input type="text" name="" id="newmsg" placeholder="message...">

    <button id="btn">Send</button>

    <ul id="msglist">
        <% for(var i=0; i < chats.length; i++) { %>           
              <li><%= chats[i].user %> : <%= chats[i].content %></li>            
         <% } %>
    </ul>
    
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();

        let btn = document.getElementById("btn");
        let startChat = document.getElementById("start-chat");
        let username = document.getElementById("name");
        let typing = document.getElementById("typing");
        console.log(typing)
        typing.style.display = "none";
        let msg = document.getElementById("newmsg");
        let msgList = document.getElementById("msglist");

        

        socket.emit("join_room", {
                roomId: startChat.getAttribute("data")
        })

        btn.onclick = () => {
            socket.emit("msg_send", {
                msg: msg.value,
                user: username.value,
                roomId: startChat.getAttribute("data")
            });
            console.log(username.value)
            msg.value = "";
            username.value = ""
            typing.style.display = "none";
        };
        
        console.log("username is ",  username.value);
        socket.on("msg_received", (data) => {
            let msgItem = document.createElement("li");
            msgItem.innerText = `${data.username} : ${data.msg}`;
            msgList.appendChild(msgItem);
        });

        socket.on("someone_typing", ()=> {
            typing.style.display = "block";
        })

        msg.addEventListener("keypress", (e) => {
            socket.emit("typing", {
                roomId: startChat.getAttribute("data")
            });
        })

    </script>
</body>
</html>